body {
  color: #8a8e91;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Roboto', Arial, serif;
  width: 100%;
  text-align: center;
  padding: 25px;
  opacity: 1;
  transition: 0.7s opacity;
}

body.fade {
    opacity: 0;
    transition: none;
}

h1 {
  font-size: 22px;
  font-weight: 400;
  /* margin: 15px 30px; */
  width: 100%;
}

img {
  border: 2px solid green;
  margin: 60px 3px;
}

#photo {
  /*background-image: linear-gradient(
      to top, transparent, rgba(10, 149, 10, .08)
      ), url('https://raw.githubusercontent.com/bfoley-teamug/personal-website-2018/master/img/landscape4.jpg');
  background-repeat: no-repeat; */

  background: linear-gradient(
      rgba(10, 149, 10, .13),
      rgba(10, 149, 10, .13)
    ), url('https://raw.githubusercontent.com/bfoley-teamug/personal-website-2018/master/img/landscape4.jpg') no-repeat center
  center fixed;

  background-image: linear-gradient(
      to top, transparent, rgba(10, 149, 10, .13)
      ), url('https://raw.githubusercontent.com/bfoley-teamug/personal-website-2018/master/img/landscape4.jpg');
  background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 12px 0 300px;
}


.page-heading-primary {
  display: block;
  font-size: 3.75em;
  font-weight: 300;
  background: -webkit-linear-gradient(#3498db, #262748);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: .8em 0 .4em;
}

.page-heading-secondary {
  display: block;
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin: 0 0 6.5rem;
}

ul li {
  list-style-type: none;
}

li {
 font-size: 24px;

}

.hey {
    width: 100px;
    position: relative;
    transition: 0.25s ease;
    cursor: pointer;
}

.hey:hover {
    transform: scale(1.2, 1.2);
}

.skillset {
 padding: 20px
 text-align: center;
}

.footer {
  margin: 20px;
}

p {
 font-size: 1.2em;
 font-weight: 100;
 margin: 20px 0;
}

.backgroundphoto {
  font-size: .8em;
}


@media (max-width: 768px) {

   #photo {
     background-image: none;
     background: linear-gradient(rgba(10, 149, 10, .13), #fff);

    }

  li {
    font-size: 18px;
  }

  img {
    margin: 20px 3px;
  }

  .skillset {
    padding: 0;
  }

  .footer {
    margin-top: 200px;
  }

  .backgroundphoto {
    display: none; 
  }
}
